In [36]:
import numpy as np
import pandas as pd
import seaborn as sns

In [37]:
cd "C:\Users\admin\Desktop"

C:\Users\admin\Desktop

In [38]:
data1 = pd.read_csv('insurance.csv')
print(data1.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [39]:
data1.info()
#shows the info of data ie no of col,no of rows,data type,etc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [40]:
data1.isnull().sum()
#it adds the no of missing values for each columns

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [41]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data1['sex'] = le.fit_transform(data1['sex'])
print(data1.head())

   age  sex     bmi  children smoker     region      charges
0   19    0  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520

In [42]:
data1['smoker'] = le.fit_transform(data1['smoker'])
print(data1.head())
data1['region'] = le.fit_transform(data1['region'])
print(data1.head())

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520
   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [43]:
#from sklearn.preprocessing import OneHotEncoder 
#encoder = OneHotEncoder()
#encoder.fit_transform(data1['smoker'])
#print(data1)

In [44]:
data1.corr()['charges'].sort_values()

region     -0.006208
sex         0.057292
children    0.067998
bmi         0.198341
age         0.299008
smoker      0.787251
charges     1.000000
Name: charges, dtype: float64

In [45]:
data1 = data1.drop(['region'],axis =1)

In [46]:
data1.head()

   age  sex     bmi  children  smoker      charges
0   19    0  27.900         0       1  16884.92400
1   18    1  33.770         1       0   1725.55230
2   28    1  33.000         3       0   4449.46200
3   33    1  22.705         0       0  21984.47061
4   32    1  28.880         0       0   3866.85520

In [47]:
y_data1 = data1['charges']
X_data1 = data1.drop(['charges'],axis = 1)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_data1, y_data1, test_size = 0.30, random_state = 0)

In [48]:
print(X_train.head())

      age  sex     bmi  children  smoker
1163   18    0  28.215         0       0
196    39    0  32.800         0       0
438    52    0  46.750         5       0
183    44    0  26.410         0       0
1298   33    1  27.455         2       0

# DECISION TREE

In [49]:
from sklearn import tree
clf = tree.DecisionTreeRegressor()
clf = clf.fit(X_train,y_train)
print(clf.score(X_test,y_test))

0.7175836210200129

In [50]:
clf.score(X_data1,y_data1)

0.9072650693313378

hyperparameter tuning using gridsearh

In [60]:
from sklearn.model_selection import GridSearchCV 
clf = tree.DecisionTreeRegressor()
tunned_parameters = {'max_depth':[2,3,4,5,6],'min_samples_split':range(10,500,2),'max_features':[2,3,4]}
cl = GridSearchCV(clf,tunned_parameters)
cl.fit(X_train,y_train)
print(cl.best_params_)

{'max_depth': 4, 'max_features': 4, 'min_samples_split': 36}

In [64]:
cle = tree.DecisionTreeRegressor(max_depth= 4, max_features= 4, min_samples_split= 36)
cle.fit(X_train,y_train)
print(cle.score(X_test,y_test))

0.8735650095218491

In [65]:
cle.score(X_data1,y_data1)

0.8503911610519828

random search

In [70]:
from sklearn.model_selection import RandomizedSearchCV 
clf = tree.DecisionTreeRegressor()
tunned_parameters = {'max_depth':[1,2,3,4,5],'min_samples_split':range(30,50,1),'max_features':[3,4]}
search = GridSearchCV(clf,tunned_parameters)
search.fit(X_train,y_train)
print(search.best_params_)

{'max_depth': 4, 'max_features': 4, 'min_samples_split': 48}

In [83]:
clf = tree.DecisionTreeRegressor(max_depth= 4, max_features= 4, min_samples_split= 48)
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.884129603542253

In [82]:
clf.score(X_data1,y_data1)

0.8566691112986815