In [5]:
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:
cd "C:\Users\admin\Desktop"

C:\Users\admin\Desktop

In [7]:
data1 = pd.read_csv('insurance.csv')
print(data1.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
data1.info()
#shows the info of data ie no of col,no of rows,data type,etc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [9]:
data1.isnull().sum()
#it adds the no of missing values for each columns

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

Generally label encoder is used as randomly give values to each category. Used if there are lot of features.
disadvantages are this value can affect accuracy as they are random

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data1['sex'] = le.fit_transform(data1['sex'])
print(data1.head())

   age  sex     bmi  children smoker     region      charges
0   19    0  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520

In [11]:
data1['smoker'] = le.fit_transform(data1['smoker'])
print(data1.head())
data1['region'] = le.fit_transform(data1['region'])
print(data1.head())

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520
   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

onehotencoder is good technique for small no of features because it creates an extra column for each categorical data

In [12]:
#from sklearn.preprocessing import OneHotEncoder 
#encoder = OneHotEncoder()
#encoder.fit_transform(data1['smoker'])
#print(data1)

In [13]:
data1.corr()['charges'].sort_values()

region     -0.006208
sex         0.057292
children    0.067998
bmi         0.198341
age         0.299008
smoker      0.787251
charges     1.000000
Name: charges, dtype: float64

In [14]:
data1 = data1.drop(['region'],axis =1)

In [15]:
data1.head()

   age  sex     bmi  children  smoker      charges
0   19    0  27.900         0       1  16884.92400
1   18    1  33.770         1       0   1725.55230
2   28    1  33.000         3       0   4449.46200
3   33    1  22.705         0       0  21984.47061
4   32    1  28.880         0       0   3866.85520

In [16]:
y_data1 = data1['charges']
X_data1 = data1.drop(['charges'],axis = 1)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_data1, y_data1, test_size = 0.30, random_state = 0)

# ElasticNet regression

In [17]:
from sklearn.linear_model import ElasticNet
en  = ElasticNet()
en.fit(X_train,y_train)
en.score(X_test,y_test)

0.4124436850031764

In [23]:
params ={'alpha': [0.02,0.022,0.024,0.026,0.028,0.030] ,'l1_ratio':[0.3,0.4,0.5,0.6,0.7],'max_iter':range(500,1000,20)}

In [26]:
from sklearn.model_selection import GridSearchCV
clf = ElasticNet()
search = GridSearchCV(clf,params)
search.fit(X_train,y_train)
print(search.best_params_)

{'alpha': 0.02, 'l1_ratio': 0.7, 'max_iter': 500}

In [25]:
en1  = ElasticNet(alpha = 0.02, l1_ratio = 0.7, max_iter =  500)
en1.fit(X_train,y_train)
en1.score(X_test,y_test)

0.7864300481473924

In [33]:
params1 ={'alpha': [0.02,0.0201,0.0202,0.0203,0.0204,0.0205,0.0206,0.0207,0.0208,0.0209,0.0210] ,'l1_ratio':[0.4,0.42,0.44,0.46,0.48],'max_iter':range(600,700,5)}

In [57]:
from sklearn.model_selection import RandomizedSearchCV
clf = ElasticNet()
search = RandomizedSearchCV(clf,params1)
search.fit(X_train,y_train)
print(search.best_params_)

{'max_iter': 670, 'l1_ratio': 0.48, 'alpha': 0.02}

In [40]:
en2  = ElasticNet(alpha = 0.02, l1_ratio = 0.48, max_iter =  655)
en2.fit(X_train,y_train)
en2.score(X_test,y_test)

0.7834673779576959